body {
  min-height: 100vh;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #f5f7ff;
  background: linear-gradient(135deg, #27222c 0%, #2575fc 100%);
  position: relative;
  overflow-x: hidden;
}
h1{
    text-align: center;
}
.login-box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(196, 189, 189, 0.15);
    backdrop-filter: blur(15px);
        border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0

}
.primary-btn {
    background: #1a73e8; /* blue */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.primary-btn:hover {
    background: #0c56d8;
}
